
<%- include('header') %>

<h2>This is an about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio quaerat accusamus, ipsum perferendis aut nobis aliquid alias eos voluptatem repellendus eligendi consectetur perspiciatis, doloribus accusantium sapiente corrupti ratione aliquam ducimus!</p>

<%- include('footer') %>